html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
nav li{
    list-style:none;
}
html, body {
  background: #f7f7f7;
}

.wec-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.wec-max__width {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.wec-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 60px;
  width: 100%;
  margin: 0 auto 0 auto;
}

.ant-menu-item {
  padding: 0 30px !important;
}
.ant-menu-horizontal,
.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu,
.ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: 0px !important;
}